
@{
   Layout = null;
}


<!DOCTYPE html>
<html lang="tr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>404 - Sayfa Bulunamadı</title>
   <style>
      body {
         font-family: Arial, sans-serif;
         background-color: #f4f4f4;
         color: #333;
         text-align: center;
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         background-image: url('/web/img/404.jpg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
      }

      .container {
         background-color: rgb(255, 255, 255, 0,53);
         padding: 80px;
         border-radius: 8px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         text-align: center;
         margin-top: -950px;
         
      }
   
         h3 {
         margin: 0;
         font-size: 24px;
         color: #333;
      }

      a {
         color: #3498db;
         text-decoration: none;
         font-weight: bold;
      }

         a:hover {
            text-decoration: underline;
         }
   </style>
</head>
<body>
   <div class="container">
      <h3>Üzgünüz, aradığınız sayfa bulunamadı.<br />Ana sayfaya dönmek ister misiniz? <a href="/Vitrin/Index/">Ana Sayfa</a>.</h3>
   </div>
</body>
</html>